{% extends "basemodule001.html" %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <!--Text Section-->
        <section id="textsection">
            {% if user.is_authenticated %}
                <p class="mt-3">Enter a new Order</p>
                <form action="{% url 'saveOrder' %}"  method="POST" class="neworder ml-auto mr-auto">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6">
                            {{ form.orderNumber.label_tag }}
                            {{ form.orderNumber }}
                            {{ form.orderDescription.label_tag }}
                            {{ form.orderDescription }}
                            {{ form.name.label_tag }}
                            {{ form.name }}
                            {{ form.address.label_tag }}
                            {{ form.address }}
                        </div>
                        <div class="col-lg-6">
                            {{ form.contractor.label_tag }}
                            {{ form.contractor }}
                            {{ form.appointmentDate.label_tag }}
                            {{ form.appointmentDate }}
                            {{ form.primaryContact.label_tag }}
                            {{ form.primaryContact }}
                            {{ form.secondaryContact.label_tag }}
                            {{ form.secondaryContact }}
                        </div>
                        <div class="col-lg-12">
                            {{ form.notes.label_tag }}
                            {{ form.notes }}
                        </div>
                        <div class="col-lg-12 new-order-submit mt-3">
                            {% for group in user.groups.all %}
                                {% if group.name == 'Edit' %}
                                    <input type="submit" name="submit" id="order-submit" value="Save Changes"  onclick="return saveOrder();">
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-lg-12 hidden">
                            {{ form.notes }}
                        </div>
                        <div class="col-lg-12 hidden">
                            {{ form.dateLastUpdate.label_tag }}
                            {{ form.dateLastUpdate }}
                            {{ form.dateCreated.label_tag }}
                            {{ form.dateCreated }}
                        </div>
                    </div>
                </form>
            {% endif %}
        </section>
    {% endif %}
{% endblock %}
