    <!-- Edit Modal -->
    <div class="modal fade" id="addnoteModal" tabindex="-1" role="dialog" aria-labelledby="addnoteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Add note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    {% if user.is_authenticated %}
                    <div class="modal-body">
                        <label class="mr-auto" for="editupdate">Add your note here...</label><br>
                        <textarea id="editupdate" rows="2" required>type here</textarea>
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submit" class="btn btn-blue" onclick="return addNote();" >Submit</button>
                    </div>
                    {% else %}
                        <label class="mr-auto" for="editupdate">I'm sorry, you don't have permission to edit<span class="imagefooter">(min 10 characters)</span></label><br>
                        <textarea id="editupdate" rows="2" required></textarea>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
