    <!-- Help Modal -->
    <div class="modal fade" id="dateModal" tabindex="-1" role="dialog" aria-labelledby="dateModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="dateModalLabel">Appointment Date</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body row">
                        <div class="col-4"
                            <label class="mr-auto" for="id_yearpicker">YYYY</label><br>
                            <select name="id_yearpicker" required id="id_yearpicker">
                                <option value="">select year...</option>
                            </select>
                        </div>
                        <div class="col-4"
                            <label class="mr-auto" for="id_monthpicker">MMM</label><br>
                            <select name="id_monthpicker" required id="id_monthpicker">
                                <option value="">select month...</option>
                            </select>
                        </div>
                        <div class="col-4"
                            <label class="mr-auto" for="id_daypicker">DD</label><br>
                            <select name="id_daypicker" required id="id_daypicker">
                                <option value="">select day...</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-body row">
                        <div class="col-4"
                            <label class="mr-auto" for="id_hourpicker">hh</label><br>
                            <select name="id_hourpicker" required id="id_hourpicker">
                                <option value="">select hour...</option>
                            </select>
                        </div>
                        <div class="col-4"
                            <label class="mr-auto" for="id_minutepicker">mm</label><br>
                            <select name="id_minutepicker" required id="id_minutepicker">
                                <option value="">select minutes...</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="datesavebtn m-0 p-0" aria-label="Close" id="appointmentDateBtn" onclick="return appointmentDate();" >OK</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
