    <!-- Help Modal -->
    <div class="modal fade" id="dateModal" tabindex="-1" role="dialog" aria-labelledby="dateModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="dateModalLabel">Appointment Date</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body">
                        <label class="mr-auto" for="question">YYYY</label><br>
                        <select name="id_yearpicker" required id="id_yearpicker">
                            <option value="">---------</option>
                            <option value="2024-08-12 09:15:15" selected>2024-08-12 09:15:15</option>
                            <option value="DM Surveyors">DM Surveyors</option>
                            <option value="Ventilation Ltd">Ventilation Ltd</option>
                            <option value="Heating Engineers">Heating Engineers</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="appointmentDateBtn" class="btn btn-blue" onclick="return appointmentDate();" >Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
