<div id="topper" class="d-block align-vertically align-horizontally">
    {% if user.is_authenticated %}
    <p class="d-none d-lg-block paramedium ml-auto mr-auto">Welcome: <span id="user-name">{{ user.username }}</span> ...
        <a class="mr-3 ml-3" href="{% url 'account_logout' %}"> Sign Out <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        {% if page == 'dashboard' %}
            <a class="mr-3 ml-3 page" href="{% url 'dashboard' %}"> My Dashboard <i class="fa-solid fa-gauge"></i></a>
        {% else %}
            <a class="mr-3 ml-3" href="{% url 'dashboard' %}"> My Dashboard <i class="fa-solid fa-gauge"></i></a>
        {% endif %}
        {% if page == 'orderlist' %}
            <a class="mr-3 ml-3 page" href="{% url 'curo' %}"> Order List<i class="fa-solid fa-list"></i></a>
        {% else %}
            <a class="mr-3 ml-3" href="{% url 'curo' %}"> Order List <i class="fa-solid fa-list"></i></a>
        {% endif %}
        {% for group in user.groups.all %}
            {% if group.name == 'Edit' %}
                {% if page == 'ordernew' %}
                    <a class="mr-3 ml-3 page" href="{% url 'createOrder' %}"> Add Order <i class="fa-solid fa-folder-plus"></i></a>
                {% else %}
                    <a class="mr-3 ml-3" href="{% url 'createOrder' %}"> Add Order <i class="fa-solid fa-folder-plus"></i></a>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if page == 'contractorlist' %}
            <a class="mr-3 ml-3 page" href="{% url 'curoContractors' %}"> Contractors <i class="fa-solid fa-screwdriver-wrench"></i></a>
        {% else %}
            <a class="mr-3 ml-3" href="{% url 'curoContractors' %}"> Contractors <i class="fa-solid fa-screwdriver-wrench"></i></a>
        {% endif %}
        {% for group in user.groups.all %}
            {% if group.name == 'Edit' %}
                {% if contractorlist %}
                    {% if page == 'contractornew' %}
                        <a class="mr-3 ml-3 page" href="{% url 'newContractor' %}"> New Contractor <i class="fa-solid fa-wrench">+</i></a>
                    {% else %}
                        <a class="mr-3 ml-3" href="{% url 'newContractor' %}"> New Contractor <i class="fa-solid fa-wrench">+</i></a>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </p>
    <p class="d-lg-none paramedium ml-auto mr-auto">
        <a class="mr-3 ml-3" href="{% url 'account_logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        {% if page == 'dashboard' %}
            <a class="mr-3 ml-3 page" href="{% url 'dashboard' %}"><i class="fa-solid fa-gauge"></i></a>
        {% else %}
            <a class="mr-3 ml-3" href="{% url 'dashboard' %}"><i class="fa-solid fa-gauge"></i></a>
        {% endif %}
        {% if page == 'orderlist' %}
            <a class="mr-3 ml-3 page" href="{% url 'curo' %}"><i class="fa-solid fa-list"></i></a>
        {% else %}
            <a class="mr-3 ml-3" href="{% url 'curo' %}"><i class="fa-solid fa-list"></i></a>
        {% endif %}
        {% for group in user.groups.all %}
            {% if group.name == 'Edit' %}
                {% if page == 'ordernew' %}
                    <a class="mr-3 ml-3 page" href="{% url 'createOrder' %}"><i class="fa-solid fa-folder-plus"></i></a>
                {% else %}
                    <a class="mr-3 ml-3" href="{% url 'createOrder' %}"><i class="fa-solid fa-folder-plus"></i></a>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if page == 'contractorlist' %}
            <a class="mr-3 ml-3 page" href="{% url 'curoContractors' %}"><i class="fa-solid fa-screwdriver-wrench"></i></a>
        {% else %}
            <a class="mr-3 ml-3" href="{% url 'curoContractors' %}"><i class="fa-solid fa-screwdriver-wrench"></i></a>
        {% endif %}
        {% for group in user.groups.all %}
            {% if group.name == 'Edit' %}
                {% if contractorlist %}
                    {% if page == 'contractornew' %}
                        <a class="mr-3 ml-3 page" href="{% url 'newContractor' %}"><i class="fa-solid fa-wrench">+</i></a>
                    {% else %}
                        <a class="mr-3 ml-3" href="{% url 'newContractor' %}"><i class="fa-solid fa-wrench">+</i></a>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </p>
    {% else %}
    <p class="paramedium">Welcome: Please sign in to continue ...
        <a class="mr-3 ml-3" href ="{% url 'account_login' %}"> Sign In <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
    </p>
    {% endif %}
</div>

