<div id="topper" class="d-block align-vertically align-horizontally">
    {% if user.is_authenticated %}
    <p class="d-none d-lg-block paramedium ml-auto mr-auto">Welcome: {{ user.username }} ...
        <a class="mr-3 ml-3" href="{% url 'account_logout' %}"> Sign Out <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        <a class="mr-3 ml-3" href="{% url 'curo' %}"> List View <i class="fa-solid fa-list"></i></a>
        <a class="mr-3 ml-3" href="{% url 'createOrder' %}"> Add Order <i class="fa-solid fa-folder-plus"></i></a>
    </p>
    <p class="d-lg-none paramedium ml-auto mr-auto">
        <a class="mr-3 ml-3" href="{% url 'account_logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        <a class="mr-3 ml-3" href="{% url 'curo' %}"><i class="fa-solid fa-list"></i></a>
        <a class="mr-3 ml-3" href="{% url 'createOrder' %}"><i class="fa-solid fa-folder-plus"></i></a>
    </p>
    {% else %}
    <p class="paramedium">Welcome: Please sign in to continue ...
        <a class="mr-3 ml-3" href ="{% url 'account_login' %}"> Sign In <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
    </p>
    {% endif %}
</div>

