{% extends "basemodule001.html" %}
{% load static %}

{% block content %}
    <!--Text Section-->
    <section id="textsection">
        {% if user.is_authenticated %}
            <h1>Upload File</span></h1>
            <form action="{% url 'upload_file' %}"  method="post" enctype="multipart/form-data" class="orderform ml-auto mr-auto">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6">
                        {{ form.orderNumber.label_tag }}
                        <input type="number" name="orderNumber" maxlength="50" required id="id_orderNumber" value="{{ orderno }}">
                        {{ form.uploadFile.label_tag }}
                        {{ form.uploadFile }}
                    <div class="col-lg-3">
                        {% for group in user.groups.all %}
                            {% if group.name == 'Edit' %}
                                <input type="submit" name="submit" id="order-submit" class="" value="Upload pdf"  onclick="return saveFile();">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </form>
        {% endif %}
    </section>
    {% for upload in uploadlist %}
        {{ upload.orderNumber }}
        {{ upload.uploadFile.name }}
        <img class="img-fluid image-80" src="{{ MEDIA_URL | cut:'media/' }}{{ upload.uploadFile.name }}" alt="image">
    {% endfor %}
{% endblock %}


{% block postloadjs %}
<script>
    $('select[name="orderNumber"]').prop('disabled', true);
</script>
{% endblock %}